body
{
    display: flex;
    justify-content: space-around;
    font-family: Arial;
}

.slogan-author
{
    position: fixed;
    bottom: 0px;
    left: 0px;;
    right: 0px;
    height: 150px;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(60, 60, 60);
}

.slog-auth-content
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.details
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    position: fixed;
}

.log-in,
.sign-up
{
    background-color: white;
    color: black;
    height: 35px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.log-in:hover,
.sign-up:hover
{
    background-color: lightgray;
}

.heading
{
    position: absolute; 
    font-size: 110px;
    font-weight: bold;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    left: 0px;
    right: 0px;
    top: 0px;
    justify-content: space-around;
    border-bottom: solid;
    border-color: rgb(15, 77, 146);
    border-width: 5px;
    border-top: solid;
    border-top-color: lightgray;
}

.nav-instructions
{
    color: white;
    font-size: 18px;
}

.slogan
{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.author
{
    font-weight: bold;
    text-decoration: underline;
}

.background
{
    position: fixed;
    margin-top: 50px;
    width: 1540px;
    height: 700px;
}

.close-container
{
    box-shadow: 0px 12px 20px rgb(244, 244, 244) inset;
    position: absolute;
    height: 30px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: rgb(194, 194, 194);
    border-bottom: solid;
    border-width: 1px;
}

.close-btn
{
    height: 30px;
    width: 50px;
    background-color: red;
    position: absolute;
    right: 0px;
    border-left: solid;
    border-width: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.close-btn:hover
{
    background-color: rgb(214, 6, 6)
}

.close
{
    height: 20px;
    width: 20px;
}

.log-in-container,
.sign-up-container,
.error-container
{
    box-shadow: 0px 100px 20px rgb(239, 239, 239) inset;
    position: fixed;
    background-color: rgb(216, 216, 216);
    margin-top: 90px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-width: 1.5px;
    /*animation:  slide-up 2s;*/
}

.sign-up-container
{
    width: 600px;
    height: 208.1px;
}

.inputLI-user-container,
.inputSU-user-container
{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    margin-top: 50px;
    border: solid;
    margin-bottom: 20px;
    border-style: groove;
    padding-top: 10px;
}

.inputSU-user-container
{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-around;
}

.inputLI-user-lbl,
.inputSU-username-lbl,
.reEnter-lbl
{
    font-size: 18px;
    margin-bottom: 5px;
}

.inputLI-user,
.inputSU-user,
.reEnter-username
{
    font-size: 18px;
    margin-bottom: 20px;
}

.log-in-btn,
.sign-up-btn
{
    font-size: 18px;
    margin-bottom: 20px;
    width: 304.8px;
    height: 30px;
    box-shadow: 0px 12px 15px rgb(0, 180, 0) inset;
    background-color: green;
    color: white;
    cursor: pointer;
}

.initial-input,
.reEnter-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-container
{
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    animation: none;
}

.message
{
    color: black;
}

.appropriate-UI
{
    display: flex;
    justify-content: space-around;
}

@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}

@keyframes fade-out
{
    100%
    {
        opacity: 0;
    }

    0%
    {
        opacity: 1;
    }
}

@keyframes slide-down
{
    0%
    {
        transform: translateY(0%);
    }

    100%
    {
        transform: translateY(100%);
    }
}

.sad
{
    height: 16px;
    width: 16px;
}

.sign-up-error
{
    position: absolute;
    margin-top: 53px;
    color: rgb(197, 4, 4);
    font-weight: bold;
}

.tip
{
    position: relative;
}

.tip-message
{
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    background-color: gray;
    color: white;
    border-radius: 20px;
    /*border: solid;
    border-color: rgb(167, 167, 167);
    border-width: 1px;*/
}

.miss-match
{
    background-color: white;
    width: 500px;
    padding: 30px;
    color: rgb(197, 4, 4);
    font-weight: bold;
    border: solid;
    border-style: groove;
}

.miss-match-container
{
    display: flex;
    position: absolute;
    justify-content: space-around;
    z-index: 1;
    margin-top: 120px;
}

.close-miss-match
{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 1px;
    right: 2px;
}

.close-miss-match:hover
{
    background-color: red;
    transition: 0.5s;
    cursor: pointer;
}

.miss-x-match
{
    height: 15px;
    width: 15px;
}

.k-container
{
    background-color: rgb(15, 77, 146);
    height: 110px;
    width: 110px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 100px;
    color: white;
}

.heading-contents
{
    display: flex;
}

@media (min-height: 889.8px)/*Will apply all styles until min height is met*/
{
    body
    {
        display: flex;
        justify-content: space-around;
        font-family: Arial;
    }

    .slogan-author
    {
        position: fixed;
        bottom: 0px;
        left: 0px;;
        right: 0px;
        height: 428.57px;
        background-color: lightgray;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: rgb(60, 60, 60);
    }

    .slog-auth-content
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .details
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 645px;
        position: fixed;
    }

    .log-in,
    .sign-up
    {
        background-color: white;
        color: black;
        height: 100px;
        width: 571.43px;
        font-size: 57.14px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .log-in:hover,
    .sign-up:hover
    {
        background-color: lightgray;
    }

    .heading
    {
        position: absolute; 
        font-size: 200px;
        font-weight: bold;
        height: 272.73px;
        background-color: white;
        display: flex;
        align-items: center;
        left: 0px;
        right: 0px;
        top: 0px;
        justify-content: space-around;
        border-bottom: solid;
        border-color: rgb(15, 77, 146);
        border-width: 9.09px;
        border-top: solid;
        border-top-color: lightgray;
    }

    .nav-instructions
    {
        color: white;
        font-size: 57.426px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .slogan
    {
        font-weight: bold;
        font-size: 71.43px;
        margin-bottom: 20px;
        text-align: center;
    }

    .author
    {
        font-weight: bold;
        text-decoration: underline;
        font-size: 45.71px;
    }

    .background
    {
        position: fixed;
        margin-top: 50px;
        size-adjust: 2400px;
        width: 5280px;
        height: 2400px;
    }

    .close-container
    {
        box-shadow: 0px 24px 40px rgb(244, 244, 244) inset;
        position: absolute;
        height: 60px;
        left: 0px;
        right: 0px;
        top: 0px;
        background-color: rgb(194, 194, 194);
        border-bottom: solid;
        border-width: 1px;
    }

    .close-btn
    {
        height: 60px;
        width: 100px;
        background-color: red;
        position: absolute;
        right: 0px;
        border-left: solid;
        border-width: 2px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .close-btn:hover
    {
        background-color: rgb(214, 6, 6)
    }

    .close
    {
        height: 40px;
        width: 40px;
    }

    .log-in-container,
    .sign-up-container,
    .error-container
    {
        box-shadow: 0px 200px 40px rgb(239, 239, 239) inset;
        position: fixed;
        background-color: rgb(216, 216, 216);
        margin-top: 90px;
        width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid;
        border-width: 1.5px;
        /*animation:  slide-up 2s;*/
    }

    .sign-up-container
    {
        width: 900px;
        height: 544.6px;
        box-shadow: 0px 326.8px 65.36px rgb(239, 239, 239) inset;
    }

    .log-in-container
    {
        height: 416.2px;
    }

    .inputLI-user-container,
    .inputSU-user-container
    {
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 193.2px;
        align-items: center;
        margin-top: 100px;
        border: solid;
        margin-bottom: 40px;
        border-style: groove;
        padding-top: 20px;
    }

    .inputSU-user-container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 1200px;
    }

    .inputLI-user-lbl,
    .inputSU-username-lbl,
    .reEnter-lbl
    {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .inputLI-user,
    .inputSU-user,
    .reEnter-username
    {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .log-in-btn,
    .sign-up-btn
    {
        font-size: 40px;
        margin-bottom: 40px;
        width: 609.6px;
        height: 60px;
        box-shadow: 0px 24px 30px rgb(0, 180, 0) inset;
        background-color: green;
        color: white;
        cursor: pointer;
    }

    .initial-input,
    .reEnter-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .error-container
    {
        padding-top: 90px;
        padding-left: 40px;
        padding-bottom: 40px;
        padding-right: 40px;
        animation: none;
    }

    .message
    {
        color: black;
        font-size: 40px;
        width: 838.275px;
    }

    .appropriate-UI
    {
        display: flex;
        justify-content: space-around;
    }

    .sad
    {
        height: 32px;
        width: 32px;
    }

    .sign-up-error
    {
        position: absolute;
        margin-top: 105px;
        color: rgb(197, 4, 4);
        font-weight: bold;
        font-size: 40px;
    }

    .tip
    {
        position: relative;
    }

    .tip-message
    {
        padding: 20px;
        font-size: 40px;
        margin-top: 40px;
        background-color: gray;
        color: white;
        border-radius: 40px;
        /*border: solid;
        border-color: rgb(167, 167, 167);
        border-width: 1px;*/
    }

    .miss-match
    {
        background-color: white;
        width: 800px;
        padding: 60px;
        color: rgb(197, 4, 4);
        font-weight: bold;
        border: solid;
        border-style: groove;
        font-size: 40px;
    }

    .miss-match-container
    {
        display: flex;
        position: absolute;
        justify-content: space-around;
        z-index: 1;
        margin-top: 120px;
    }

    .close-miss-match
    {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        right: 10px;
        top: 2px;
        right: 4px;
    }

    .close-miss-match:hover
    {
        background-color: red;
        transition: 0.5s;
        cursor: pointer;
    }

    .miss-x-match
    {
        height: 30px;
        width: 30px;
    }

    .k-container
    {
        background-color: rgb(15, 77, 146);
        height: 200px;
        width: 200px;
        border-radius: 9.09px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 181.818px;
        color: white;
    }

    .heading-contents
    {
        display: flex;
    }
}